{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "Jeff Org",
      "Space": "Demo"
    },
    "Name": "nodejs-picture-voting-game-jrm0417",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}